$primary-background-color: #141c2f;
$secondary-background-color: #1f2a48;
$primary-text-color: #ffffff;
$accent-color: #0079fb;

$sections-radius: 15px;
$btn-radius: 10px;
$input-bottom-border-measures: 2px solid;
