@import '../../styles/settings.scss';

.not-found {
  width: 100%;
  display: flex;
  justify-content: center;

  &__text {
    margin: 5rem 0;
  }
}

.app-container {
  margin: $containers-margin 0;
  padding: 3rem;
  background-color: var(--secondary-background-color);
  border-radius: $sections-radius;
  display: grid;
  grid-template-columns: 200px minmax(0, 1fr);
  column-gap: 2rem;
  grid-template-rows: 1fr;

  &__picture-section {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__image {
    width: 150px;
    height: 150px;
    border: 0.5rem solid var(--primary-text-color);
    border-radius: 50%;
  }

  &__information-header {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__second-col {
      color: var(--secondary-text-color);
    }
  }

  &__bio {
    color: var(--secondary-text-color);
    font-size: 1.1rem;
  }

  &__stats {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: var(--primary-background-color);
    border-radius: $sections-radius;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    &__title {
      color: var(--secondary-text-color);
    }

    &__data {
      margin-top: 0.4rem;
      font-size: 1.4rem;
    }
  }

  &__additional-information {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;

      &.disabled {
        color: var(--secondary-text-color);
        cursor: not-allowed;
      }

      &__icon {
        font-size: 1.1rem;
        margin-right: 1rem;
      }
    }
  }
}
