@import '../../styles/settings.scss';

.search-bar {
  margin-top: $containers-margin;
  background-color: var(--secondary-background-color);
  padding: 1rem;
  border-radius: $sections-radius;

  &__group {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 80%) 20%;
    column-gap: 2rem;
    grid-template-rows: 1fr;
  }

  &__input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__label {
    margin-left: 2rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    color: var(--accent-color);
  }

  &__input {
    padding: 0 0.2rem 0.2rem;
    width: 90%;
    height: 1.6rem;
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    font-family: 'Roboto mono', monospace;
    color: var(--secondary-text-color);

    &:active,
    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: var(--secondary-text-color);
    }
  }

  &__btn--submit {
    padding: 1rem 0.5rem;
    width: 120px;
    justify-self: right;
    color: #fff;
    background-color: var(--accent-color);
    border: none;
    border-radius: $btn-radius;
    font-size: 1.2rem;
    cursor: pointer;
  }
}
