.theme-switch {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background-color: var(--secondary-background-color);
  cursor: pointer;

  &__text {
    margin-right: 10px;
  }

  &__icon {
    font-size: 1.2rem;
  }
}
